@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
}

.App {
	height: 100%;
}

.main {
	height: 90vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.get-btn {
	background-color: #ffd369;
	padding: 14px 20px;
	border: 3px solid #222831;
	font-size: 1.2rem;
	box-shadow: 3px 3px #393e46;
	cursor: pointer;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
	transition: box-shadow 0.2s;
}

.get-btn:active {
	box-shadow: 0px 0px;
}

.new-btn {
	background-color: #ffd369;
	padding: 8px 12px;
	border: 2px solid #222831;
	cursor: pointer;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	color: #222831;
	border-radius: 5px;
	transition: background-color 0.4s;
}

.new-btn:hover {
	background-color: #fac54a;
}

.btn-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.twitter-btn {
	background-color: #ffd369;
	padding: 8px 12px;
	border: 2px solid #222831;
	cursor: pointer;
	outline: none;
	color: #222831;
	border-radius: 5px;
	transition: background-color 0.4s;
}

.twitter-btn:hover {
	background-color: #fac54a;
}

.quote-container {
	background-color: #ffd369;
	width: 250px;
	padding: 20px 20px;
	border-radius: 5px;
	box-shadow: #222831 0px 0px 0px 3px inset, #eeeeee 10px -10px 0px -3px, #393e46 10px -10px,
		#eeeeee 20px -20px 0px -3px, #393e46 20px -20px, #eeeeee 30px -30px 0px -3px;
	animation-name: animate;
	animation-duration: 1s;
}

.quote {
	font-family: 'Playfair Display', serif;
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 20px;
	color: #222831;
	animation-name: text;
	animation-duration: 1s;
}

.author {
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	font-weight: 400;
	color: #393e46;
	margin-bottom: 20px;
	padding-right: 10px;
	text-align: end;
	animation-name: text;
	animation-duration: 1s;
}

.quote-container a {
	text-decoration: none;
}

.far {
	font-size: x-large;
	color: #eeeeee;
	display: flex;
	justify-content: center;
}

footer {
	height: 8vh;
	background-color: #393e46;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.7rem;
	color: #eeeeee;
}

.zen-link {
	color: #ffd369;
	margin: 0px 3px;
}

@keyframes animate {
	from {
		box-shadow: #222831 0px 0px 0px 3px inset;
	}
	to {
		box-shadow: #222831 0px 0px 0px 3px inset, #eeeeee 10px -10px 0px -3px, #393e46 10px -10px,
			#eeeeee 20px -20px 0px -3px, #393e46 20px -20px, #eeeeee 30px -30px 0px -3px;
	}
}

@keyframes text {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
