@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
	background-color: #eeeeee;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	height: 10vh;
	background-color: #393e46;
	overflow: hidden;
	display: flex;
	align-items: center;
	z-index: 99;
}

ul {
	list-style-type: none;
	margin: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px;
}

.home-logo {
	text-decoration: none;
	color: #ffd369;
	font-size: x-large;
}

.new {
	border: none;
}

.main {
	margin-top: 8vh;
	margin-bottom: 8vh;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.get-btn {
	background-color: #ffd369;
	padding: 14px 20px;
	border: 3px solid #222831;
	font-size: 1.2rem;
	box-shadow: 1px 1px #222831, 2px 2px #222831, 3px 3px #222831;
	cursor: pointer;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	transition: box-shadow 0.2s;
}

.get-btn:active {
	box-shadow: 0px 0px;
}

.btn {
	background-color: #ffd369;
	padding: 8px 10px;
	border: 2px solid #222831;
	cursor: pointer;
	outline: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: #222831;
	transition: background-color 0.4s;
}

.btn:hover {
	background-color: #fac54a;
}

.btn-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.saved {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3rem;
	color: #fac54a;
	text-transform: uppercase;
	font-weight: 800;
	animation-name: text;
	animation-duration: 1s;
}

.external-links {
	display: flex;
	justify-content: space-between;
}

.twitter {
	margin-left: 4px;
}

.email {
	margin-right: 4px;
}

.quote-container {
	border: 4px solid #393e46;
	padding: 18px 20px;
	box-shadow: 1px 1px #393e46, 2px 2px #393e46, 3px 3px #393e46, 4px 4px #393e46, 5px 5px #393e46;
	animation-name: text;
	animation-duration: 1s;
}

.quote-main {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 20px;
	color: #393e46;
	animation-name: text;
	animation-duration: 1s;
}

.author-main {
	font-family: 'PT Serif', serif;
	font-size: 1.2rem;
	font-weight: 400;
	color: #222831;
	margin-bottom: 40px;
	padding-right: 10px;
	text-align: end;
	animation-name: text;
	animation-duration: 1s;
}

.btn-main {
	background-color: #eeeeee;
}

.quote {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 20px;
	color: #393e46;
	animation-name: text;
	animation-duration: 1s;
}

.author {
	font-family: 'PT Serif', serif;
	font-size: 0.9rem;
	font-weight: 400;
	color: #222831;
	margin-bottom: 20px;
	padding-right: 10px;
	text-align: end;
	animation-name: text;
	animation-duration: 1s;
}

.quote-container a {
	text-decoration: none;
}

.far {
	font-size: x-large;
	color: #eeeeee;
	display: flex;
	justify-content: center;
}

section {
	padding: 0 2rem;
}

.saved-container {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
	gap: 1rem;
	justify-items: center;
	align-items: flex-start;
	margin-bottom: 40px;
}

.fav-heading {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 1.8rem;
	color: #393e46;
	padding-top: 5vh;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	animation-name: text;
	animation-duration: 1s;
}

.quote-card-container {
	background-color: #ffd369;
	width: 225px;
	padding: 20px 20px;
	box-shadow: #222831 0px 0px 0px 3px inset;
	animation-name: text;
	animation-duration: 1s;
}

.quotable {
	color: #393e46;
	font-family: 'PT Serif', serif;
	font-size: 0.8rem;
	text-align: center;
	margin-top: 10px;
}

.zen-link {
	color: #222831;
	margin: 0px 3px;
}

.no-saves {
	margin-top: 25vh;
}

.clear-storage {
	text-align: center;
}

.clear-btn {
	margin-bottom: 10vh;
}

.clear-btn-group {
	margin-bottom: 10vh;
	animation-name: text;
	animation-duration: 0.5s;
}

.clear-btn-group h6 {
	font-size: 1rem;
	font-family: 'PT Serif', serif;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 0;
	color: #393e46;
}

.clear-btn-group button {
	margin: 4px 4px;
}

@keyframes animate {
	from {
		box-shadow: #222831 0px 0px 0px 3px inset;
	}
	to {
		box-shadow: #222831 0px 0px 0px 3px inset, #eeeeee 10px -10px 0px -3px, #393e46 10px -10px,
			#eeeeee 20px -20px 0px -3px, #393e46 20px -20px, #eeeeee 30px -30px 0px -3px;
	}
}

@keyframes text {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
