nav {
	height: 8vh;
	background-color: #393e46;
	overflow: hidden;
	display: flex;
	align-items: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0px 20px;
}

.home-btn {
	text-decoration: none;
	color: #ffd369;
	font-size: x-large;
}
